$mainFontFamily: 'Poppins',
sans-serif;
$headerBgColor: rgba(86, 184, 135, .06);
$headerBorarderColor: #ffffff;
$headerDefaultTextColor: #ffffff;
$headerIconsBgColor: rgba(255, 255, 255, .1);
$headerIconsColor: #ffffff;
$defaultSectionBgColor: #ffffff;
$personInfoAboutMe:#9BAAB3;
$primatyColor:#000;
$secondaryColor: #555;
$statsNumberColor: #9BAAB3;
$progressBarBgColor: #ebeef2;
$progressBarColor: #56b887;